.env

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
.venv/
*.egg-info/
*.egg
venv/

# IDE
.idea/
.vscode/

# pixi environments
.pixi/*
!.pixi/config.toml
# pixi environments
.pixi/*
!.pixi/config.toml

.mypy_cache/
.pytest_cache/
.ruff_cache/

temp/
log/*.log
*.log
